venv/
# myenv/
dental_notes/dental_notes/cwebsocket/__pycache__/
dental_notes/dental_notes/dental_notes/__pycache__/
dental_notes/dental_notes/webapp/__pycache__/

env/
*.pyc
__pycache__/

media/

# Large binary files
*.dylib
*.so

HUGGINGFACE_TOKEN=your_token_here
RUNPOD_API_KEY=your_runpod_key_here
